body {
    font-family: 'Segoe UI';
}

p {
    color: blue;
    text-align: justify;
}

h1, h2 {
    color: pink;
}

img {
    height: 20%;
    width: 20%;
    border-radius: 10px;
}

li {
    font-size: large;
}

th {
    color: brown;
}

a {
    text-decoration: none;
    color: burlywood;
}
